Options -Indexes -MultiViews +FollowSymLinks
RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(?!(game|mygames)\/)(.+)$ /index.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^game/(.+)$ /game/index.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^posts/(.+)$ /posts/index.php [NC,L]