Options -Indexes -MultiViews +FollowSymLinks
RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(?!game(s?)/)(.+)$ /index.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^games/SpaceShips/(.+)$ /games/SpaceShips/index.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^game/(.+)$ /game/index.php [NC,L]